<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/home.css" />

</head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    
    <main>
      <section id="product-overview__1">
        <a href="/products">Shop Now</a>
      </section>
      <section id="products-genre">

      </section>
    </main>
  </body>
</html>
